
<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h2 class="title has-text-centered">Typing game</h2>

      <p class="sentence">
        <span [class]="letter === enteredText.charAt(i) ? 'green' : 'red'"
        *ngFor="let letter of randomText.slice(0, enteredText.length).split(''); let i = index;">{{randomText.charAt(i)}}</span>{{randomText.slice(enteredText.length, randomText.length)}}
      </p>
      <div class="field">
        <input [value]="enteredText" (input)="setInput($event.target.value)" class="input"/>
      </div>
      <div *ngIf="enteredText === randomText" class="box has-text-centered">
      <button class="success is-centered" (click)="reset()">Success!</button>
    </div>

    </div>
  </div>
</div>
